{% extends 'support/base.html' %}

{% block content %}
<h1>{{title}}</h1>
<p>Information</p>
<div class="card">
  <img src="https://nationalbank.kz/image/resize/360/220/data/media/news/images/TTPjLPusJrUl4vhBVjZuV38vQbwAHcgXCZJspl2F.jpg" alt="Image 1">
  <h3>У нас самые актуальные гранты</h3>
  <p>Описание 1</p>
  <button>Подробнее</button>
</div>

<div class="card">
  <img src="https://cdn-icons-png.flaticon.com/512/4345/4345672.png" alt="Image 2">
  <h3>Лучшие возможности поступить зарубежом</h3>
  <p>Описание 2</p>
  <button>Подробнее</button>
</div>

<div class="card">
  <img src="https://st2.depositphotos.com/3643517/5271/v/600/depositphotos_52710511-stock-illustration-sport-competition-icons-in-heart.jpg" alt="Image 3">
  <h3>Актуальные соревнования по всем сферам</h3>
  <p>Описание 3</p>
  <button>Подробнее</button>
</div>

{% endblock %}
